:root {
--white: hsl(0, 0%, 100%);
--light-grey: hsl(217, 12%, 63%);
--medium-grey: rgb(38,47,56);//hsl(216, 12%, 54%);
--dark-blue: rgb(26,33,43);//hsl(213, 19%, 18%);
--very-dark-blue: hsl(216, 12%, 8%);
--orange: hsl(25, 97%, 53%);
--black: hsl(0, 0%, 0%);
}